.UserList {
    text-align: center;
}
.UserInner {
    margin-left: 20px;
    text-align: center;
}

html {
    background: url(bg-blurry.jpg) no-repeat fixed;
}
.UserInner {
    margin-left: 20px;
    text-align: center;
}

.ButtonAddUser {
    height: 60px;
    width: 300px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #006400;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #008000;
    transition: .2s ease-in-out;
    font-size: 24px;
}

.NewUser {
    padding: 20px;
    position: relative;
    max-width: 800px;
    margin: 10px auto 0;
    border-radius: 30px;
    box-sizing:border-box;
}

.NewUser input {
    width: 20%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 30px;
    border-width: 0px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.ButtonAddDetails {
    margin: 10px auto;
    text-align: center;
    height: 20px;
    width: 200px;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #FFFFE0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #108100;
    font-size: 14px;

}

.DetailsAddress input
.DetailsCompany input {
    width: 30%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 25px;
    border-width: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

p {
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}

.field-error {
    background: #FB9797;
    margin-right: 12px;
}

.formErrors {
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    color: #800000;
}
.ButtonDisabled {
    height: 60px;
    width: 300px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #C0C0C0;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #A9A9A9;
    transition: .2s ease-in-out;
    font-size: 24px;
}

.ButtonFindUser {
    width: 200px !important;
    height: 60px !important;
    position: absolute;
    left: 80%;
    display: inline-block;
    padding: 10px 20px;
    overflow: hidden;
    border: 2px solid #20B2AA;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #008B8B;
    transition: .2s ease-in-out;
    font-size: 22px;
}

.Find {
    border: 2px solid #20B2AA;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #008B8B;
    transition: .2s ease-in-out;
    font-size: 22px;
}

.SearchInfo {
    position: absolute;
    width: 300px !important;
    height: 260px !important;
    left: 79%;
    top: 59px;
    background: #E9EFF6;
    line-height: 30px;
    border-width: 0px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

